@page

@{
    ViewData["Title"] = "Bedrock Ashes";
}

<main>
    <div class="main-title">
        <div>
            <h1 class="title">Bedrock Ashes</h1>
            <h3 class="subtitle">Manage your Realms with ease</h3>
        </div>
    
        <a class="light-button" asp-page="Realms/Index">MY REALMS</a>
    </div>
</main>