.main-title {
    margin: 32vh auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
}

.main-title .title {
    font-size: 7vh;
    font-family: "Nunito", sans-serif;
    text-shadow: none;

    background-image: linear-gradient(190deg, #7ACDEF, #212A3E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(-3px 3px 3px #040616BF);
}

.main-title .subtitle {
    font-size: 2.8vh;
    font-family: "Inter Tight", sans-serif;

    background-image: linear-gradient(190deg, #407D97, #1D2E54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(-3px 3px 3px #040616BF);

    transition: var(--transition);
}