@model RealmHelper.Web.Models.Page

<nav class="pagination">
    @if (Model.Number != 1)
    {
        <img id="nav-back" src="~/img/actions/back.png" alt="" />
    }
    
    <span id="nav-page">@Model.Number</span>
    
    @if (!Model.Last)
    {
        <img id="nav-forward" src="~/img/actions/forward.png" alt="" />
    }
</nav>

<script defer>
    const searchParams = new URLSearchParams(location.search);

    document.getElementById("nav-back")?.addEventListener("click", () => {
        searchParams.set("page", "@(Model.Number - 1)");
        
        location.search = searchParams.toString();
    });
    
    document.getElementById("nav-forward")?.addEventListener("click", () => {
        searchParams.set("page", "@(Model.Number + 1)");
        
        location.search = searchParams.toString();
    });
</script>