main {
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 100vh;
    
    padding: 5vh;
    gap: 5vh;
}

.all-realms {
    width: 85%;
    
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
    
    gap: 5vh;
}

@media screen and (max-width: 500px) {
    .all-realms {
        flex-direction: column;
        align-items: center;
    }
}

.realms-section {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 700px;
    
    gap: 1vh;
}

.realms {
    width: 100%;

    display: flex;
    flex-direction: column;
    
    gap: 2vh;
}

.realm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--space);
    gap: 5px;
    
    background-image: url("img/realm-bg.png");
    background-size: cover;
}
.realm.expired {
    background-image: url("img/expired-realm-bg.png");
}

.realm-name {
    font-size: 2.5vh;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: #8BC34A;
}
.realm.closed .realm-name {
    color: #F44336;
}

.realm-motd {
    font-size: 2vh;
    font-family: "Inter Tight", sans-serif;
    text-align: center;
}