@page "/realm/java/{realmId:long}/members"

@model Members

@using RealmHelper.Application.Utils

@{
    ViewData["Title"] = "Members";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/realm/members.css" asp-append-version="true" />
}

<div class="realm-members">
    @if (Model.OnlinePlayers.Length == 0 && Model.OfflinePlayers.Length == 0)
    {
        <h1 class="title empty">No players</h1>
        
        return;
    }

    <form id="search-bar">
        <input maxlength="16" required name="username" placeholder="Username"/>

        <img id="search" src="~/img/actions/search.png" alt=""/>
    </form>

    @if (Model.OnlinePlayers.Length != 0)
    {
        <div>
            <h2 class="title">Online players</h2>
    
            <ul class="members-list">
                @foreach (var player in Model.OnlinePlayers)
                {
                    <li class="box member">
                        <div class="member-info">
                            <img src="https://mc-heads.net/avatar/@player.Uuid" alt="" class="member-icon"/>
    
                            <div class="member-body">
                                <a class="member-name" href="/realm/java/@Model.Realm.Id/member/@player.Uuid">
                                    @player.Name
                                </a>
                            </div>
                        </div>
                        
                        @if (Model.Realm.IsOwner(User))
                        {
                            @if (player.Operator)
                            {
                                <img data-tippy-content="Operator" src="~/img/permissions/operator.png" alt="" class="permission" />
                            }
                            else
                            {
                                <img data-tippy-content="Member" src="~/img/permissions/member.png" alt="" class="permission" />
                            }
                        }
                    </li>
                }
            </ul>
        </div>
    }

    @if (Model.OfflinePlayers.Length != 0)
    {
        <div>
            <h2 class="title">Offline players</h2>

            <ul class="members-list">
                @foreach (var player in Model.OfflinePlayers)
                {
                    <li class="box member">
                        <div class="member-info">
                            <img src="https://mc-heads.net/avatar/@player.Uuid" alt="" class="member-icon"/>

                            <div class="member-body">
                                <a class="member-name" href="/realm/java/@Model.Realm.Id/member/@player.Uuid">
                                    @player.Name
                                </a>
                            </div>
                        </div>
                        
                        @if (player.Operator)
                        {
                            <img data-tippy-content="Operator" src="~/img/permissions/operator.png" alt="" class="permission" />
                        }
                        else
                        {
                            <img data-tippy-content="Member" src="~/img/permissions/member.png" alt="" class="permission" />
                        }
                    </li>
                }
            </ul>
        </div>
    }


    @await Component.InvokeAsync("Pagination", Model.CurrentPage)
</div>

@section Scripts
{
    <script>
        document.getElementById("search-bar").addEventListener("submit", e => {
            e.preventDefault();
            
            const username = e.currentTarget.querySelector("[name=username]").value;
            
            location.replace(`/realm/bedrock/@Model.Realm.Id/member/${username}`);
        });
    
        document.getElementById("search").addEventListener("click", e => e.currentTarget.closest("form").submit());
        
        tippy(".permission", { arrow: false });
    </script>
}
